.switch {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
}

.switch__input {
  display: none;
}

.switch__label {
  padding: 8px 14px;
  font-size: 14px;
  font-family: nunito;
  color: black;
  background: #ffda8f;
  cursor: pointer;
  transition: background 0.1s;
}

.switch__input + .switch__label {
  border-right: 1px solid #ffc857;
}

.switch__input:checked + .switch__label {
  background: #ffc857;
}
