body {
  background-color: black;
}

.chosenSport-picture {
  width: 100%;
}

.location-name {
  color: #FFC857;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  display: flex;
  margin : 21.440px 0 0 0;
}

.description {
  display: flex;
  margin : 0 0 21.44px 0;
}

.location-infos {
  margin: 0 2rem 0 2rem;
  color: #FFC857;
  display: flex;
  flex-direction: column;
}

.location-details {
  display: flex;
  text-align: initial;
  align-items: center;
  gap: 1rem;
}

.phone-details {
  /*margin: 0 2rem 0 2rem;*/
  color: #FFC857;
  display: flex;
  gap: 1rem;
}

.web-icone {
  color: #FFC857;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.map {
  color: #FFC857;
}

.exit-acess {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: #FFC857;
}
