.list {
  height: 100%;
}

.list__component {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60%;
}

.list p {
  font-size: 1.5em;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
