/* Create a variable map-tiles-filter */
:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.5);
}

.brand-title {
  color: #ffc857;
}

.Map {
  background-color: #1a1a1d;
  height: 100%;
}

/* Style the class map-tiles wwith a filter set to the variable map-tiles-filter */
.Map .map-tiles {
  filter: var(--map-tiles-filter, none);
}

/* Set the height of the map container to be able to display the map */
.Map .leaflet-container {
  height: 100%;
  z-index: 1;
}
