@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  text-align: center;
  background-color: #1a1a1d;
  font-family: "Nunito", sans-serif;
}

.App__dev-nav {
  background-color: white;
}
